@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


.App {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.blue-primary{
  color:#1d1b84
}
.img-kategori{
  height: 150px;
}
.img-detail{
  height: 150px;
  margin-left: 400px;
}
.style-p {
  color: #999;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 20px;
  overflow: hidden;
  font-family: CrimsonText,Arial,sans-serif;
  text-align: justify;
}
.style-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 35px;
  padding-top: 46px;
  border-top: 1px solid #eee;
}
.img-carousel{
  width: 1264px;
  height: 500px;
}
.carousel-artikel{
  margin-bottom: 30px;
}